body {
  background-color:#F5EFE6;
}
hr{
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width:5px;
  height: 0px;
  width:30%
  }

  img{
    height:250px;
    width: 250px;
  }

  h1, h3 {
    color: #42855B ;
  }
  .middle-age{
    height: 250px;
    width: 250px;
    background-color: blue;

  }
  .bottom-grey{
    height: 250px;
    width: 250px;
    background-color: red;
  }
